html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
  text-align: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ListForms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 59px;
}

.ListFriends {
  background-color: #474554;
  width: 1126px;
  height: 429px;
  border-radius: 6px;
}

.ListFriends h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}

.ListTable {
  width: 731px;
  height: 277px;
  padding-left: 10px;
  border-radius: 8px;
  background-color: #C4C4C4;
  overflow-x: hidden;
  overflow-y: auto;
}

.ListTable::-webkit-scrollbar-track {
  background-color: #EAE9E9;
  margin: 20px 0px 20px 0px;
}

.ListTable::-webkit-scrollbar {
  width: 13px;
}

.ListTable::-webkit-scrollbar-thumb {
  background: #272727;
  background-clip: content-box;
}

.ListTable__Tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bolder;
  gap: 15px;
  font-size: 14px;
  width: 693px;
  border-bottom: 1px solid #939393;
  padding-top: 11.87px;
}

.ListTable__Tips .ListTable__nome {
  width: 90px;
}

.ListTable__Tips .ListTable__email {
  width: 200px;
}

.ListTable__Tips .ListTable__genero {
  width: 90px;
}

.ListTable__Tips .ListTable__descricao {
  width: 120px;
  margin-right: 15px;
}

.ListTable__Tips .ListTable__editarT {
  width: 37px;
  margin-right: 10px;
}

.ListTable__Tips .ListTable__deletarT {
  width: 45px;
}

.AskTips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
  width: 693px;
  border-bottom: 1px solid #939393;
  padding-top: 11.87px;
}

.AskTips p {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.AskTips .ListTable__nome {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90px;
}

.AskTips .ListTable__email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.AskTips .ListTable__genero {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90px;
}

.AskTips .ListTable__descricao {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 120px;
  margin-right: 15px;
}

.AskTips .ListTable__editar {
  cursor: pointer;
  width: 37px;
  margin-right: 10px;
}

.AskTips .deletar {
  cursor: pointer;
  width: 45px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #C4C4C4;
  height: 277px;
  width: 261px;
  padding-right: 48px;
  margin-left: 42px;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  padding-left: 13px;
}

form button {
  background-color: #FFBE6B;
  width: 103px;
  height: 25px;
  border-radius: 8px;
  text-decoration: none;
  line-height: 14px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

form input {
  background-color: #11055B;
  width: 210px;
  height: 18.31px;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  margin-bottom: 2px;
}

form label {
  margin-bottom: 2px;
  padding-top: 17px;
}

form span {
  color: #DA1111;
}

form p {
  margin-top: 2px;
  color: #DA1111;
  font-size: 11px;
  display: none;
}

form select {
  background-color: #11055B;
  width: 210px;
  height: 18.31px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #EAE9E9;
}

form select option {
  color: #FFFFFF;
}

.modal--edit {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 1280px;
  height: 720px;
}

.modal--edit .mE__content {
  position: absolute;
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 478px;
  height: 345px;
  left: 399px;
  top: 176px;
}

.modal--edit .mE__content h3 {
  margin-bottom: 76px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.modal--edit .mE__content button {
  width: 139px;
  height: 25px;
  background-color: #FFBE6B;
  border-radius: 8px;
  font-size: 16px;
  padding-left: 10px;
  margin-left: 15px;
  margin-top: 10px;
}

.modal--edit .mE__content form select {
  background-color: #11055B;
  width: 194px;
  height: 18.31px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #EAE9E9;
}

.mE__labelInput {
  padding-right: 38px;
  padding-left: 31px;
  padding-bottom: 38px;
}

.mE__labelInput label {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

.mE__labelInput input {
  width: 194px;
  height: 18.75px;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding-left: 28px;
  outline: none;
  background-color: #11055B;
}

.mE__duoForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mE__duoForm select option {
  color: #FFFFFF;
}

.mE__btnClose {
  position: absolute;
  color: #ffffff;
  background-color: #e12828;
  z-index: 2;
  width: 35px;
  height: 34px;
  border-radius: 20px;
  left: 860px;
  top: 161px;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
}

.modal--delete {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.955);
  width: 1280px;
  height: 720px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal--delete h3 {
  font-size: 40px;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  padding-bottom: 190px;
}

.modal--delete .mD__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal--delete .mD__btns .mD__btnExc {
  background-color: #DC3741;
  border-radius: 8px;
  width: 140px;
  height: 57px;
  font-size: 24px;
  border: none;
  color: #ffffff;
  margin-right: 316px;
}

.modal--delete .mD__btns .mD__btnCanc {
  background-color: #7066E0;
  border-radius: 8px;
  width: 140px;
  height: 57px;
  font-size: 24px;
  border: none;
  font-weight: bolder;
  color: #000000;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */